# Dependencias
/node_modules

# Entorno
.env
.env.local

# Build
/dist

# Logs
*.log
npm-debug.log*

# MongoDB backups
/mongo_backups/*

# Archivos temporales
.temp
.tmp

# OS
.DS_Store

# Tests
/coverage

# IDEs and editors
/.vscode
/.idea

# package-lock.json
package-lock.json
