@import "@scss";

.custom-button {
  border-radius: 8px;
  background-color: white;
  color: $secondary-color;
  border: 2px solid $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: white;
    border: 2px solid $secondary-color;
  }

  &.active,
  &:focus-visible {
    background-color: $tertiary-color !important;
    color: white;
    border: 2px solid $tertiary-color !important;
  }

  &.incorrect:active {
    background-color: $red !important;
    color: white;
    border: 2px solid $red !important;
  }
}
